/* ************
Typography
* ************/
// Regular
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets//fonts/Ubuntu-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

// Medium
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets//fonts/Ubuntu-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

// Bold
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets//fonts/Ubuntu-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}